@model Model.Footer

    <div class="service-area pt-70 pb-40 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-service mb-30">
                        <div class="service-icon">
                            <i class="pe-7s-world"></i>
                        </div>
                        <div class="service-title">
                            <h3>Dịch vụ chuyên nghiệp</h3>
                            <p>Tư Vấn Thiết Kế Miễn Phí</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-service mb-30">
                        <div class="service-icon">
                            <i class="pe-7s-portfolio"></i>
                        </div>
                        <div class="service-title">
                            <h3>Kinh nghiệm lâu năm</h3>
                            <p>Với nhiều Năm Kinh Nghiệm Trong Lĩnh Vực Nội Thất</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-service mb-30 sm-mrg">
                        <div class="service-icon">
                            <i class="pe-7s-hammer"></i>
                        </div>
                        <div class="service-title">
                            <h3>Thi công nhanh chóng</h3>
                            <p>Thi Công Lắp Đặt Nhanh Chóng Theo</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-service mb-30 xs-mrg sm-mrg">
                        <div class="service-icon">
                            <i class="pe-7s-tools"></i>
                        </div>
                        <div class="service-title">
                            <h3>Bảo trì tận tâm</h3>
                            <p>Bảo Trì,Sữa Chữa,Đổi Mới Trong Vòng 5 Năm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="black-bg">
        <div class="footer-top-area ptb-60">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="footer-widget">
                            <h3 class="footer-title">Liên Hệ Với Chúng Tôi</h3>
                            <div class="footer-contact">
                                <ul>

                                    <li><em class="fa fa-map-marker"></em>Xưởng Sản Xuất:Quận Bình Thạnh <span>Thành Phó Hồ Chí Minh</span></li>
                                    <li><em class="fa fa-phone"></em>Điện Thoại: <a href="tel:0989318744">0989.318.744</a> <span></span></li>
                                    <li><em class="fa fa-envelope-o"></em>Email: <a href="mailto:minhdang9a8@gmail.com">noithatTĐRH@gmail.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="footer-widget">
                            <h3 class="footer-title">Về Chúng Tôi</h3>
                            <ul class="block-content">
                                <p style="color:white">
                                    Nội Thất TĐRH là đơn vị thiết kế, thi công nội, ngoại thất và kiến trúc chuyên nghiệp. Với lợi thế là nhà nghiên cứu, sản xuất nội thất thông tinh kết hợp sở hữu xưởng sản xuất, chúng tôi tự tin mang đến những điều tốt đẹp nhất cho các công trình.
                                </p>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="footer-widget">
                            <h3 class="footer-title">Page</h3>
                            <ul class="block-content">
                                <div class="fb-page" data-href="https://www.facebook.com/Shop-n%E1%BB%99i-th%E1%BA%A5t-T%C4%90RH-112528248143080/?ref=pages_you_manage" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/noithattubephongngoc/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/noithattubephongngoc/">Nội Thất Hồng Ngọc</a></blockquote></div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bootom-area ptb-15">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                    </div>

                </div>
            </div>
        </div>
        <!-- Messenger Plugin chat Code -->
        <div id="fb-root"></div>

        <!-- Your Plugin chat code -->
        <div id="fb-customer-chat" class="fb-customerchat">
        </div>

        <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "112528248143080");
      chatbox.setAttribute("attribution", "biz_inbox");
        </script>

        <!-- Your SDK code -->
        <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v15.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
        </script>

    </footer>